@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717; 
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --font-culot: var(--font-culot);
  --color-strong: #22232f;
  --color-blu: #2da8f2;
  --color-rid: #f73d4f;
}

/* 
crm  #f2eee4

gry2 #697075
gry3 #22232f

blu  #2da8f2
rid  #f73d4f
*/

@media (prefers-color-scheme: light) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}


body {
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
  box-sizing: border-box;
}

.section-wrapper {
  z-index: 100;
  width: auto;
  height: 100vh;
}
